APP_NAME=GetOption
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://go-trade.xyz
WEBSOCKET_HOST=chart.go-trade.xyz

TWILLIO_SID=
TWILLIO_KEY=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_URL=https://dev.go-trade.xyz/login/facebook/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_URL=https://dev.go-trade.xyz/login/google/callback

YOOMONEY_WALLET=41001828768205
YOOMONEY_SECRET=

CRYPTONATOR_ID=bb44ed80aa8929387417ccd8f36a6df5
CRYPTONATOR_SECRET=

FREE_KASSA_ID=243788
FREE_KASSA_SECRET=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
MYSQL_DB_HOST=144.91.90.207
MYSQL_DB_PORT=3306
MYSQL_DB_DATABASE=getoption
MYSQL_DB_USERNAME=getoption
MYSQL_DB_PASSWORD=

PG_DB_HOST=127.0.0.1
PG_DB_PORT=5432
PG_DB_DATABASE=database
PG_DB_USERNAME=username
PG_DB_PASSWORD=

PAYEER_ID=1178849384
PAYEER_SECRET=

PAYEER_API_PAYOUT_ID=1146433451
PAYEER_API_PAYOUT_SECRET=
PAYEER_API_WALLET=P2694815

TRADINGVIEW_LOGIN=
TRADINGVIEW_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_PREFIX=

MAIL_DRIVER=smtp
MAIL_HOST=mail.go-trade.xyz
MAIL_PORT=25
MAIL_USERNAME=info@go-trade.xyz
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@go-trade.xyz
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MIX_CONTENT_DIRECTION="ltr"