{
	"authHost": "https://binaries.site",
	"authEndpoint": "/broadcasting/auth",
	"clients": [
		{
			"appId": "replace-with-app-id",
			"key": "replace-with-app-key"
		}
	],
	"database": "redis",
	"databaseConfig": {
		"redis": {},
		"sqlite": {
			"databasePath": "/database/laravel-echo-server.sqlite"
		}
	},
	"devMode": true,
	"host": "binaries.site",
	"port": "6001",
	"protocol": "https",
	"socketio": {},
	"secureOptions": 67108864,
	"sslCertPath": "/var/certs/domain.crt",
	"sslKeyPath": "/var/certs/domain.key",
	"sslCertChainPath": "/var/certs/domain.chain.crt",
	"sslPassphrase": "",
	"subscribers": {
		"http": true,
		"redis": true
	},
	"apiOriginAllow": {
		"allowCors": true,
		"allowOrigin": "https://binaries.site:443",
		"allowMethods": "GET, POST",
		"allowHeaders": "Origin, Content-Type, X-Auth-Token, X-Requested-With, Accept, Authorization, X-CSRF-TOKEN, X-Socket-Id"
	}
}
